@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

$transition: 0.3s;
$primary:#0A7A83;
$notoSerif: 'Noto Serif TC', serif;

body {
    background-image: url(../img/home_bg.png);
    background-size: contain;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    font-family: "noto sans TC";
    &.bg-gray {
        background-image: url(../img/futurepage_bg.png);
    }
    &.bg-solar {
        background-image: url(../img/solar-bg.png);
        background-size: cover;
        background-position: right center;
    }
    &.bg-semi {
        background-image: url(../img/semi_bg.jpg);
        background-size: cover;
        background-position: left center;
    }
    &.bg-panasonic {
        background-image: url(../img/panasonic_bg.png);
        background-size: cover;
        background-position: left center;
    }
}




a {
    text-decoration: none;
    color: #000;
    transition: $transition;
    cursor: pointer;
    &:hover {
        color: #000;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.darken {
    mix-blend-mode: darken;
}

.bg-light, .bg-dark {
    background-color: transparent !important;
}

.page_nav {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    >ul {
        position: absolute;
        left: 26vw;
        bottom: 0vw;
        >li {
            position: relative;
            padding: 0 50px;
            &::after {
                position: absolute;
                content: "";
                width: 2px;
                height: 30px;
                background-color: #fff;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
            >a {
                display: flex;
                align-items: center;
                position: relative;
                color: #fff;
                font-size: 24px;
                font-weight: 900;
                transition: $transition;
                span {
                    transition: $transition;
                }
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-image: url(../img/nav_inner_bg.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    opacity: 0;
                    transition: $transition;
                    top: 0;
                    left: 0;
                }
                &.active {
                    color: #fff;
                    padding: 0 60px 20px;
                    span {
                        margin: 0 5px;
                        text-shadow: 1px 0 0 rgba(0,0,0,0.3);
                        &:first-child {
                            font-size: 45px;
                        }
                        &:nth-child(2) {
                            font-size: 33px;
                            transform: rotate(7deg);
                        }
                        &:nth-child(3) {
                            font-size: 40px;
                            transform: rotate(-12.5deg);
                        }
                        &:nth-child(4) {
                            transform: rotate(11deg);
                        }
                    }
                    &::before {
                        opacity: 1;
                    }
                }
            }
            &:hover {
                .page_nav_second {
                    display: flex;
                }
                >a {
                    color: #fff;
                    padding: 0 60px 20px;
                    span {
                        margin: 0 5px;
                        text-shadow: 1px 0 0 rgba(0,0,0,0.3);
                        &:first-child {
                            font-size: 45px;
                        }
                        &:nth-child(2) {
                            font-size: 33px;
                            transform: rotate(7deg);
                        }
                        &:nth-child(3) {
                            font-size: 40px;
                            transform: rotate(-12.5deg);
                        }
                        &:nth-child(4) {
                            transform: rotate(11deg);
                        }
                    }
                    &::before {
                        opacity: 1;
                    }
                }
            }
            &.back {
                padding: 0;
                display: block;
                width: 3.31vw;
                height: 2.08vw;
                margin-left: 50px;
                cursor: pointer;
                transition: $transition;
                img {
                    width: 100%;
                }
                &::after {
                    display: none;
                }
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
    &_second {
        position: absolute;
        display: flex;
        align-items: center;
        left: 30%;
        bottom: calc(100% - 1px);
        // opacity: 0;
        // visibility: hidden;
        display: none;
        transition: $transition;
        z-index: 15;
        a {
            font-size: 23px;
            font-weight: 900;
            color: rgba(255,255,255,0.7);
            text-shadow: 0 0 0.1px rgba(0,0,0,0.1);
            display: block;
            padding: 10px 15px;
            letter-spacing: 0.05em;
            transition: $transition;
            white-space: nowrap;
            &:hover, &.active {
                color: #fff;
                text-shadow: 0 0 5px rgba(255,255,255,0.4);
            }
        }
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-image: linear-gradient(to right, #fff 0%, #fff 50%, transparent 50%);
            background-size: 12px 1px;
            background-repeat: repeat-x;
            bottom: 0;
            left: 0;
            transition: $transition;
        }
    }
    &.bg-light {
        .page_nav_second {
            a {
                color: #0095B6;
                &.active, &:hover {
                    color: #075663;
                }
            }
            &::after {
                background-image: linear-gradient(to right, #0095B6 0%, #0095B6 50%, transparent 50%);
            }
            &.bg-dark {
                a {
                    color: rgba(255,255,255,0.7);
                    &.active, &:hover {
                        color: #fff;
                    }
                }
                &::after {
                    background-image: linear-gradient(to right, #fff 0%, #fff 50%, transparent 50%);
                }
            }
        }
    }
    @media screen and (min-width: 2500px) {
        >ul {
            // bottom: 0.4vw;
            >li {
                >a {
                    font-size: 40px;
                    &.active, &:hover {
                        span {
                            &:first-child {
                                font-size: 61px;
                            }
                            &:nth-child(2) {
                                font-size: 49px;
                            }
                            &:nth-child(3) {
                                font-size: 56px;
                            }
                        }
                    }
                }
            }
        }
        &_second {
            a {
                font-size: 39px;
                padding: 15px 25px;
            }
        }
    }
    @media screen and (min-width: 3500px) {
        >ul {
            bottom: 0.2vw;
            >li {
                >a {
                    font-size: 56px;
                    &.active, &:hover {
                        span {
                            &:first-child {
                                font-size: 77px;
                            }
                            &:nth-child(2) {
                                font-size: 75px;
                            }
                            &:nth-child(3) {
                                font-size: 72px;
                            }
                        }
                    }
                }
            }
        }
        &_second {
            bottom: calc(100% + 25px);
            a {
                font-size: 55px;
            }
        }
    }
    @media screen and (min-width: 4500px) {
        >ul {
            bottom: 0.4vw;
            >li {
                >a {
                    font-size: 72px;
                    &.active, &:hover {
                        span {
                            &:first-child {
                                font-size: 93px;
                            }
                            &:nth-child(2) {
                                font-size: 91px;
                            }
                            &:nth-child(3) {
                                font-size: 88px;
                            }
                        }
                    }
                }
            }
        }
        &_second {
            bottom: calc(100% + 45px);
            a {
                font-size: 71px;
            }
        }
    }
}


.logo {
    // position: fixed;
    position: absolute;
    width: 14.57vw;
    bottom: 1vw;
    left: 4vw;
    z-index: 15;
    display: block;
    >img {
        width: 100%;
    }
}

.title-main {
    padding-top: 4.5vw;
    margin: 0 auto 4.5vw;
    display: flex;
    justify-content: center;
    color: #fff;
    .en {
        font-size: 25px;
        font-weight: 700;
        font-family: $notoSerif;
        letter-spacing: 0.1em;
        text-align: right;
        position: relative;
        margin: 0 3.52vw 0 0;
        transform: translateY(-30%);
        &::after {
            position: absolute;
            content: "";
            width: 1px;
            height: 5.82vw;
            background-color: #fff;
            transform: translateY(-50%) rotate(45deg);
            transform-origin: bottom;
            top: 50%;
            right: 0;
        }
    }
    .ch {
        font-size: 48px;
        font-weight: 700;
        font-family: $notoSerif;
        margin: 0;
        transform: translateY(30%);
    }
    @media screen and (min-width: 2500px) {
        .en {
            font-size: 33px;
        }
        .ch {
            font-size: 62px;
        }
    }
    @media screen and (min-width: 3500px) {
        .en {
            font-size: 43px;
        }
        .ch {
            font-size: 81px;
        }
    }
    @media screen and (min-width: 4500px) {
        .en {
            font-size: 56px;
        }
        .ch {
            font-size: 105px;
        }
    }
}

.title-second {
    padding-top: 3vw;
    padding-left: 3.15vw;
    display: flex;
    color: #595959;
    .en {
        font-size: 15px;
        font-weight: 700;
        font-family: $notoSerif;
        letter-spacing: 0.1em;
        text-align: right;
        position: relative;
        margin: 0 3.52vw 0 0;
        transform: translateY(-30%);
        &::after {
            position: absolute;
            content: "";
            width: 1px;
            height: 3.5vw;
            background-color: #595959;
            transform: translateY(-50%) rotate(45deg);
            transform-origin: bottom;
            top: 50%;
            right: -10%;
        }
    }
    .ch {
        font-size: 29px;
        font-weight: 700;
        font-family: $notoSerif;
        margin: 0;
        transform: translateY(30%);
    }
    &.white {
        color: #fff;
        .en {
            &::after {
                background-color: #fff;
            }
        }
    }
    @media screen and (min-width: 2500px) {
        .en {
            font-size: 20px;
        }
        .ch {
            font-size: 38px;
        }
    }
    @media screen and (min-width: 3500px) {
        .en {
            font-size: 26px;
        }
        .ch {
            font-size: 49px;
        }
    }
    @media screen and (min-width: 4500px) {
        .en {
            font-size: 34px;
        }
        .ch {
            font-size: 64px;
        }
    }
}
