// .life-bg {
//     background-image: url(../img/style.png), url(../img/futurepage_bg.png);
//     background-size: 10.42%, cover;
//     background-position: right 1.64vw, center;
//     background-repeat: no-repeat, no-repeat;
// }

.life_title {
    position: absolute;
    color: #595959;
    display: flex;
    top: 4.15vw;
    left: 3.68vw;
    h2 {
        font-size: 15px;
        font-weight: normal;
        letter-spacing: 0.05em;
        margin: 0 58px 0 0;
        transform: translateY(-10px);
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 1px;
            background-color: #595959;
            height: 4vw;
            transform: rotate(45deg);
            transform-origin: bottom;
            top: -90%;
            left: 100%;
        }
    }
    h1 {
        font-size: 29px;
        font-weight: normal;
        margin: 0;
    }
    @media screen and (min-width: 2500px) {
        h2 {
            font-size: 31px;
            &::after {
                width: 2px;
                left: 103%;
            }
        }
        h1 {
            font-size: 45px;
        }
    }
    @media screen and (min-width: 3500px) {
        h2 {
            font-size: 47px;
            margin-right: 80px;
            transform: translateY(-30px);
            &::after {
                left: 102%;
            }
        }
        h1 {
            font-size: 61px;
        }
    }
    @media screen and (min-width: 4500px) {
        h2 {
            font-size: 63px;
            transform: translateY(-50px);
            &::after {
                left: 101%;
            }
        }
        h1 {
            font-size: 77px;
        }
    }
}

.life_map {
    position: absolute;
    width: 52vw;
    left: 28vw;
    top: -2.3vw;
    >img {
        width: 100%;
    }
    .map-element {
        transition: $transition;
        &:not(.nopopup) {
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &_item {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: $transition;
        img {
            width: 100%;
        }
        .map-element {
            position: absolute;
            cursor: pointer;
        }
        &#traffic {
            left: 50%;
            transform: translateX(-50%);
            width: 98%;
            top: 5.3%;
            .map {
                width: 100%;
                // transform: translateY(1.5%);
            }
            .bus {
                width: 16.39%;
                top: 55%;
                left: 33.5%;
            }
        }
        &#life {
            left: 1.3%;
            width: 97%;
            top: 5.8%;
            .shop-1 {
                width: 24.4%;
                top: 18%;
                right: 14%;
            }
            .shop-2 {
                width: 13.7%;
                top: 51.4%;
                right: 46.6%;
            }
            .shop-3 {
                width: 13.7%;
                top: 53%;
                right: 23%;
            }
            .shop-4 {
                width: 15.5%;
                top: 63.6%;
                right: 15.3%;
            }
        }
        &#school {
            left: 50%;
            transform: translateX(-50%);
            width: 97%;
            top: 5.5%;
            .map {
                width: 100%;
            }
            .school-1 {
                width: 4.6%;
                top: 49%;
                right: 46.2%;
            }
            .school-2 {
                width: 4.6%;
                top: 54.5%;
                right: 46.2%;
            }
        }
        &#leisure {
            left: 50%;
            transform: translateX(-50%);
            width: 97%;
            top: 5.5%;
            .map {
                width: 100%;
            }
            .forest {
                width: 16.2%;
                top: 48.5%;
                left: 1.2%;
            }
            .ecopark {
                width: 13%;
                top: 32%;
                left: 27.1%;
            }
            .park-1 {
                width: 5.1%;
                top: 22.9%;
                right: 37.2%;
            }
            .park-2 {
                width: 5.1%;
                top: 28.5%;
                right: 37.2%;
            }
            .Xpark {
                width: 3.2%;
                top: 26.4%;
                right: 32%;
            }
            .shinkong {
                width: 3.2%;
                top: 31%;
                right: 32%;
            }
            .gloria {
                width: 4%;
                top: 35.3%;
                right: 31.3%;
            }
            .park-3 {
                width: 5.2%;
                top: 18.2%;
                right: 30.1%;
            }
            .park-4 {
                width: 5.1%;
                top: 20%;
                right: 12%;
            }
            .ikea {
                width: 5.8%;
                top: 24.7%;
                right: 18%;
            }
            .park-5 {
                width: 4.9%;
                top: 42.5%;
                right: 27.5%;
            }
            .court {
                width: 3%;
                top: 53.5%;
                right: 29%;
            }
            .pool {
                width: 5.5%;
                top: 53.5%;
                right: 44.6%;
            }
            .drama {
                width: 5.5%;
                top: 16.2%;
                right: 29.6%;
            }
            .cozzl {
                width: 5%;
                top: 23.5%;
                right: 30.6%;
            }
            .global {
                width: 3.5%;
                top: 45.4%;
                right: 28.3%;
            }
            .costco {
                width: 6.5%;
                top: 72.4%;
                right: 38%;
            }
        }
        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}

.life_tab {
    position: absolute;
    right: 3.2vw;
    // top: 8vw;
    // top: calc((100vh - 4vw) / 2);
    // transform: translateY(-50%);
    top: 5vw;
    z-index: 30;
    li {
        font-size: 34px;
        color: $primary;
        padding: 60px 30px 60px 45px;
        position: relative;
        letter-spacing: 0.5em;
        cursor: pointer;
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-image: linear-gradient(to right, #A6A6A6 0%, #A6A6A6 50%, transparent 50%);
            background-size: 12px 1px;
            background-repeat: repeat-x;
            bottom: 0;
            left: 0;
            transition: $transition;
        }
        &::before {
            position: absolute;
            content: "";
            width: 150%;
            height: 100%;
            background-image: url(../img/life_nav_active.png);
            background-size: contain;
            background-position: center 70%;
            background-repeat: no-repeat;
            top: 0;
            left: 50%;
            transform: translateX(-55%);
            transition: $transition;
            opacity: 0;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
        &:hover, &.active {
            &::before {
                opacity: 1;
            }
        }
    }
    @media screen and (min-width: 2500px) {
        li {
            font-size: 50px;
            padding-right: 60px;
            padding-left: 50px;
            &::after {
                height: 2px;
            }
        }
    }
    @media screen and (min-width: 3500px) {
        li {
            font-size: 66px;
            padding-right: 80px;
            padding-left: 70px;
            &::after {
                height: 3px;
                background-size: 24px 1px;
            }
        }
    }
    @media screen and (min-width: 4500px) {
        li {
            font-size: 82px;
            padding-right: 100px;
            padding-left: 90px;
            padding-bottom: 80px;
            padding-right: 80px;
            &::after {
                height: 4px;
                background-size: 40px 1px;
            }
        }
    }
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    top: 0;
    left: 0;
    cursor: pointer;
    &_bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.9);
        cursor: pointer;
    }
    &_main {
        width: 60%;
        padding-bottom: calc(60% * 0.7);
        border-radius: 50px;
        position: absolute;
        border: 7px solid #9EC245;
        position: relative;
        // overflow: hidden;
        &_pic {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 43px;
            overflow: hidden;
            &.bus-swiper {
                .swiper-slide {
                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        // object-fit: cover;
                        object-fit: contain;
                    }
                }
            }
            >img, .swiper-slide>img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                // object-fit: contain;
                object-fit: cover;
            }
        }
        &_remark {
            color: #fff;
            margin: 0;
            // font-size: 14px;
            font-weight: 600;
            position: absolute;
            top: 1vw;
            right: 1.5vw;
            text-shadow: 0 1px 5px rgba(0,0,0,0.2);
        }
    }
    .tree-1 {
        position: absolute;
        width: 25%;
        right: -11%;
        bottom: -10%;
        z-index: 5;
    }
    .tree-2 {
        position: absolute;
        width: 25%;
        left: -15%;
        bottom: -13%;
        z-index: 5;
    }
    .bus-swiper_prev, .bus-swiper_next {
        position: absolute;
        width: 5%;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    .bus-swiper_prev {
        left: -8%;
    }
    .bus-swiper_next {
        right: -8%;
    }
}